@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Open+Sans:wght@400;600;700&family=Quattrocento:wght@400;700&display=swap");

* {
  font-family: "Quattrocento";
}

h2 {
  margin: 20px;
}
#title {
  color: darkolivegreen;
  text-align: center;
  margin: 20px 0;
}

.showGraph {
  background-color: azure;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.questionDiv {
  background-color: rgb(164, 172, 196);
  text-align: center;
}

td.upper_line {
  border-top: solid 3px black;
}


.eq-div {
  
  margin: auto;
  margin-top: 50px;
  display: inline-block;
}

